:root {
  --color-bg: #fff;

  --color-card-bg: #ffffff;
  --color-link-hover: #919191;

  --color-text-primary: #383841;
  --color-text-secondary: #484848;

  --toggle-width: 5rem;
}

html {
  /* setting rem */
  font-size: 14px;
}

body {
  font-family: 'Work Sans', sans-serif;

  /* the clamp values have to be in the body */
  --font-size-sm: clamp(12.8px, -0.17vw + 13.47px, 11.32px);
  --font-size-base: clamp(14px, 0vw + 14px, 14px);
  --font-size-md: clamp(20px, 0.3vw + 18.81px, 22.62px);
  --font-size-lg: clamp(25px, 0.79vw + 21.82px, 31.99px);
  --font-size-xl: clamp(31.25px, 1.59vw + 24.89px, 45.23px);
  --font-size-xxl: clamp(39.06px, 2.83vw + 27.74px, 63.96px);
  --font-size-xxxl: clamp(48.83px, 4.73vw + 29.91px, 90.44px);

  overflow-x: hidden;

  /* color: var(--color-text); */
  margin: auto;

  background: var(--color-bg);
}

h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-xl);
}
h3 {
  font-size: var(--font-size-lg);
}

img {
  max-width: 100%;
}

/* page transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* default styles for buttons */
button {
  background-color: rgb(239, 239, 239);
  border: 2px solid rgb(118, 118, 118);
  color: black;
  border-bottom-style: outset;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-radius: 0em;
}

input[type='search'] {
  background-color: rgb(252, 252, 252);
  border: 2px solid rgb(118, 118, 118);
  color: black;
  border-bottom-style: outset;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-radius: 0em;
  -webkit-appearance: none;
}
